.input {
	padding: 10px 0;
	overflow: hidden;

	label {
		text-transform: uppercase;
		font-size: 12px;
		color: $darkGreen;
		font-family: DINR, sans-serif;
		font-weight: 300;
	}
	input {
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid white;
		box-shadow: none;
		outline: 0;
		height: 36px;
		font-size: 16px;
		color: #fff;
		font-family: FGL, sans-serif;
		border-radius: 0;
		padding: 0;

	}
	textarea {
		background-color: transparent;
		border: 0;
		outline: 0;
		border-bottom: 1px solid white;
		width: 100%;
		font-size: 16px;
		color: #fff;
		font-weight: 200;
		font-family: FGL, sans-serif;
		padding: 10px 0;
		border-radius: 0;
	}
	.validation {
		color: white;
		font-size: 14px;
		width: 100%;
		position: relative;
		display: block;
		margin-top: 10px;
	}
}
.btn {
	background-color: $darkGreen;
	color: white;
	text-transform: uppercase;
	outline: 0;
	border: 0;
	padding: 15px 30px;
	font-weight: 500;
	@include border-radius(8px);
	cursor: pointer;

	&.btn-right {
		float: right;
		right: 0;

		@include mq($until: medium) {
			//display: none;
		}
	}
}