.about {

	margin-top: $doublePadding * 2;

	@include mq($until: medium) {
		margin-top: $padding;
	}

	.block {

		padding: $padding $doublePadding;

		@include mq($until: medium) {
			padding: $padding $halfPadding;
		}

		.half {

			img {
				max-width: 350px;
				width: 100%;

				@include mq($until: medium) {
					margin-top: $halfPadding;
				}
			}
		}
	}
}