.about {

	margin-top: $doublePadding * 2;

	@include mq($until: medium) {
		margin-top: $padding;
	}

	.block {

		//padding: $padding $doublePadding;

		// @include mq($until: medium) {
		// 	padding: $padding $halfPadding;
		// }

		.half {

			img {
				
				width: 110%;
				margin: 0 auto;
				display: block;

				@include mq($until: medium) {
					margin-top: $halfPadding;
				}
			}
		}
	}
}