.block {
		@include flexbox;
		@include align-items(center);
		padding: $padding $halfPadding;
		@include border-radius(15px);
		color: #fff;
		@include box-shadow(-5px 10px rgba(0,0,0,.3));
		background-color: rgba(55,171,79,.6);
		@include flex-wrap(wrap);
		@include box-sizing(border-box);

		@include mq($from: medium) {
			padding: $padding;
		}
		@include mq($from: 970px) {
			padding: $padding $doublePadding;
		}

		.half {

			padding: 0;
			flex: 1 1 auto;

			@include mq($from: medium) {
				flex: 1;
				padding: $halfPadding;
			}
			@include mq($from: large) {
				padding: $padding;
			}
		}


		.half-pic{
			@include mq($from: medium) {
				flex: 1;
				padding: 0;
			}

			img{
				width: 110%;
			}
		}
}