.faq {

	.heading {
		width: 100%;
		padding-left: 0;
		margin-bottom: 0;

		@include mq($from: medium) {
			padding-left: $halfPadding;
			padding-top: $padding;
		}
		@include mq($from: large) {
			padding-left: $padding;
		}
	}
	h4 {
		margin-top: 30px;
		margin-bottom: 5px;
	}
	p {
		margin-top: 5px;
	}
}