.hero {

	width: 100%;
	height: 70vh;

	@include flexbox;
	@include align-items(center);
	@include justify-content(center);

	.hero-inner {
		position: relative;
		height: auto;

		@include mq($from: medium) {
			height: 500px;
			width: auto;
	
		}

	a{
		text-decoration: none;
	}	
	}



	#backplate {
		position: absolute;
		width: 450px;
		height: 560px;
		background-image: url('../images/pattern_hero.jpg');
		background-size: cover;
		@include border-radius(15px);
		@include flexbox;
		@include align-items(flex-end);
		padding-left: $padding;
		padding-bottom: $padding;

		@include mq($until: medium) {
			width: 100%;
			display: none;
		}
	}
	.block {
		//background-image: url('../images/hero_map.jpg');
		background-color:$darkGreen;
		background-size: cover;
		position: relative;
		width: 100%;
		margin-left: 0;
		padding-left: $halfPadding;
		margin-top: 0;

		@include mq($from: medium) {
			margin-left: 175px;
			padding: $padding;
			padding-left: $doublePadding *2;
			margin-top: $padding + 20px;
			width: auto;

		}

		@include mq($from: large) {
			margin-left: 250px;
			padding: $doublePadding;
			padding-left: $doublePadding *3;
		}



		.floating-phone {
			display: none;
			left: 0;

			@include mq($from: medium) {
				position: absolute;
				display: block;
				left: -100px;
				width: 200px;
				top: 40px;
			}
			@include mq($from: large) {
				width: 250px;
			}
		}
		.badges {
			max-width: 150px;

			@include mq($until: semi-tiny) {
				max-width: 115px;
			}

			@include mq($from: semi-tiny, $until: medium) {
				max-width: 144px;
			}

		}
	}
}

.logo-small {

		
		width: 100%;
		text-align: center;
		@include mq($from: tiny, $until: semi-tiny) {
				margin-top: 30px;
			}
	

		img {
			margin: 0 auto;
			max-width: 75px;
		}

		@include mq($from: medium) {
			display: none;
		}
	}

.arrow {
  text-align: left;
  margin-top: -20px;

  @include mq($from: medium) {
			display: none;
		}

  a{
  	text-decoration: none;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
